table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(0, 0, 0);
}

code, pre {
    background-color: #EEFFCC; /* 这是淡绿色 */
}

.top-right-image {
    position: absolute;
    top: 105px;  /* Adjust as needed */
    left: 890px;  /* Adjust as needed */
    z-index: 10;  /* Make sure the image appears on top */
}