table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(0, 0, 0);
}

code, pre {
    background-color: #EEFFCC; /* 这是淡绿色 */
}

div.document .contents p, div.document div.body p, div.document div.body li, div.document .contents li {
    text-align: justify;
    text-justify: inter-word;
}